<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        body { background-color: #FBEFF5; text-align: center; }
        img { width: 280px; height: 320px; }
        h1 { color: brown; }
        span { color: gray; font-size: 0.8em; }
    </style>
</head>
<body>
    <h1>UM_YUN3</h1><p>
    <form method="get" action="/login/check">
        ID: <input type="text" name="mid"> <br>
        <input type="submit" value="login">
    </form>
    <img src="/um_yun3.jpg" alt="내 사진"><br>
    <span>(그림 출처: 내 사진)</span>
</body>
</html>
